{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}
<div class= "container">
  От президента 26 лицея
  <h1> С днём рождения, лучший учитель информатики, физики и астрономии </h1>
  <br>  
  <br>
  Игорь Строгонов
  <h1> Я желаю здоровья, долголетия, счастья, хороших учеников, крепкой семьи, удачных проектов (чего и нам желаю) и всего наилучшего </h1>
  <br>
  <br>
  Варя Барбарова 
  <h1> Поздравляю с днем рождения, желаю меньше таких учениц, как я, больше радости и здоровья вам и вашей семье</h1>
  <br>
  <br> 
  Демид Лупанов 
  <h1> Поздравляю вас с днём рождения, хочу сказать вам огромное спасибо, за всё, что вы сделали для нас! Надеюсь, что все ваши желания и мечты сбудутся!</h1>
</div>
{% endblock %}