{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class= "container mt-5">
  <h1> {{ article.title }}  </h1>

  <div class = "alert alert-info">

    <h1>{{ article.text }}</h1>
    <a href= {{ article.link }} style="width:auto;">Полностью произведение</a>
    <p><b>Дата: {{  article.date.date()  }}</b></p>
    <a href="  /posts/{{ article.id }}//del" class ="btn btn-danger">Удалить</a>
    <a href="  /posts/{{ article.id }}//update" class ="btn btn-success">Редактировать</a>
  </div>

</div>
{% endblock %}